body {
    background-color: #eeeeee;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#login-form {
    text-align: center;
    padding-top: 200px;
}

#date {
    text-align: center;
}

.note {
    background-color: #aaaaaa;
    padding: 10px;
    border-style: solid;
    text-align: center;
}

#monday, #tuesday, #wednesday, #thursday, #friday, #saturday, #sunday {
    text-align: left;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
